#game-content {
    text-align: center;
    display: flex;
}

#game-canvas {
    width: 800px;
    height: 400px;
}

#game-lb {
    border-collapse: collapse;
}

#game-lb tbody tr td:nth-child(1) {
    padding-right: 1rem;
    text-align: left;
}
#game-lb tbody tr td,
#game-lb tbody tr th {
    padding: 0.25rem;
    border: 1px solid #666;
}
#game-lb tbody tr th {
    font-size: 1.25em;
}

#game-lb {
    position: absolute;
    top: 0;
    right: 0;
}

#game-button-back {
    position: absolute;
    top: 0;
    left: 0;

    width: 5rem;
    height: 2rem;
}
